header {
    position: -webkit-sticky;   /*Compatibility*/
    position: sticky;
    z-index: 1; /*Placed in front of all elements*/

    margin-right: -3%;
    margin-left: -3%;
    margin-top: -8px;
    top: 0;
}

nav {
    background-color: White;
    border-bottom: 4px solid gray;
    border-radius: 2px;

    padding: 2px 20px 10px 20px;   /*Top, right, bottom, left*/
    margin-bottom: 30px;

    font-size: 20px;
    color: gray;
    user-select: none;
    text-align: center;
}

nav a {
    text-decoration: inherit;
    color: black;

    padding: 0px 10px 7px 10px;   /*Top, right, bottom, left*/
    margin-right: 5px;
    margin-left: 5px;

    border-radius: 5px;
    }

nav a:hover {text-decoration: underline;background-color: rgb(0, 0, 0, 0.15);}

#search_nav_box {
    font-size: 14px;
    width: 350px;
    height: 1.8rem;

    position: relative;
    top: -3px;
}

#search_nav_button {
    font-size: 14px;
    border: 0px solid white;
    border-radius: 5px;
    cursor: pointer;

    width: 55px;
    height: 1.8rem;

    position: relative;
    top: -3px;
}


