body {
    margin-left: 5%;
    margin-right: 7%;

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 300;

    background-color: Lavender;
}


h2 {font-weight: 500;}


/*Remove styling caused by being a link*/
#results > a {color: inherit; text-decoration: inherit;}

.search_arg {
    background-color: lightgray;
    padding:10px;


    border-bottom: 3px solid gray;
}
/*Increase the height of a line break*/
.search_arg > br {display: block;margin-bottom: 8px;}

/*"Search" button*/
.search_arg > input[type="button"] {
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: 4px;

    position: relative;
    top: -2px;

    cursor: pointer;
}

.search_arg > input[type="button"]:hover {background-color:inherit;}

input[type="checkbox"] + label {
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;

    padding: 4px;
    padding-left: 25px;
    margin-right: -3px;
}

input[type="checkbox"] + label:hover {
    background-image: linear-gradient(-90deg, gray, rgba(0,0,0,0));

    border: 0px solid gray;
    border-radius: 3px;
}



input[type="checkbox"] {
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;

    margin-right: -25px;
  }





#search_box {
    font-size: 18px;
    width: 500px;
    max-width: 95%;
    height: 2.5rem;
    margin-bottom: 8px;
}

.result {
    background-color: white;
    border: 1px solid lightgray;

    padding: 5px;
    margin-top: 10px;
}

.result:hover {background-color: lightgray;}

.tag_cont {margin: 15px 5px 10px 5px;}   /*Top, right, bottom, left*/

.tag {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    display: inline-block;  /*When there is wraping, wrap whole block*/

    margin-right: 7px;
        /*Top, right, bottom, left*/
    padding: 2px 5px 2px 5px;

    user-select: none;
    
}

/*images which class that start with "ban_"*/
img.banner {
    height: 80px;

    position: relative;
    display: block;
    float: right;
    left:5px;
    top: -5px;
  }